{% extends 'container.html.twig' %}

{% block title %}Чат{% endblock %}
{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="{{ asset('assets/chat/chat.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/sweetalert2.min.css') }}">
{% endblock %}
{% block container %}
    <div class="game-www close-www" id="game">
        <div class="webgl-content">
            <div id="gameContainer" style="height: 20%"></div>
            <div class="footer">
                <div class="webgl-logo"></div>
                <div class="fullscreen" onclick="gf.getGameInstance().SetFullscreen(1)"></div>
                <div class="title">WEB Toguz Korgool</div>
            </div>
        </div>
    </div>
    <div id="frame">
        <div id="sidepanel">
            <div id="contacts">
                <div class="my_info"></div>
                <ul></ul>
            </div>
        </div>
        <div class="content">
            <div class="messages">

                <div class="title_chat fixed-top" style="position: relative; height: 59px; line-height: 38px">
                    <span>Общий чат</span>
                    <i class="fa fa-comments"></i>
                    <i style="position: absolute; right: 10px" class="option_panel">
                        <button id="soundMessageBtn" class="soundMessageBtn btn btn-warning" style="padding-right: 10px">
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                        </button>
                        <button id="sendToRoomAll" class="sendTo btn btn-info" data-destination="room@all">
                            Общий чат
                        </button>
                    </i>
                </div>
                <ul></ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <input type="text" placeholder="Write your message..." id="form-message"/>
                    <button class="submit" id="form-submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_MODERATOR') %}
        <input type="hidden" value="moderator" class="user_role"/>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="{{ asset('assets/JS/WebSocketChat.js') }}"></script>
    <script src="{{ asset('WebGLTogusCorgool/Build/UnityLoader.js') }}"></script>
    <script src="{{ asset('WebGLTogusCorgool/TemplateData/UnityProgress.js') }}"></script>
    <script src="{{ asset('WebGLTogusCorgool/game-run.js') }}"></script>
    <script src="{{ asset('assets/JS/gameProcessing.js') }}"></script>
    <script src="{{ asset('assets/libs/sweetalert2.all.min.js') }}"></script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <script>
        $('#message-duration').on('change', function () {
            $('.durationBan').text($(this).val())
        });
        chatWork(
            '{{ urlChat }}',
            '{{ urlGame }}',
            '{{ app.user.username }}',
            '{{ app.user.csrfToken }}',
            "{{ asset('assets') }}",
            $('.user_role').val()
        );
    </script>
{% endblock %}
