{% extends 'base.html.twig' %}

{% if app.getUser() %}
    {% set username = (app.getUser().getFullName()) ? app.getUser().getFullName() : app.getUser().getUsernameCanonical() %}
{% endif %}


{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/libs/bootstrap-4.1.0/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/libs/bootstrap-4.1.0/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/libs/bootstrap-4.1.0/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">

    <script src="{{ asset('assets/libs/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-4.1.0/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-4.1.0/js/bootstrap.bundle.min.js') }}"></script>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    {% block styles %}{% endblock %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container my_container">
            <a class="navbar-brand" href="{{ url('index_action') }}">TOGUZ-KORGOOL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('index_action') }}">Главная</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_chat') }}">Игровой чат</a>
                        </li>
                        {{ render(controller('App\\Controller\\BaseController::recentCategories')) }}
                        <li>
                            <a class="nav-link" href="{{ url('app_history_game') }}">История Игр</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="navbar-nav flex-md-last flex-sm-last ml-md-auto d-md-flex">
                {% if app.getUser() %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('user_profile', {'username': app.user.username}) }}">Мой
                                профиль</a>
                            {#
                                //todo: ссылка на настройки игрока (профиля и возможно некоторых других элементов приложения для данного игрока)
                            #}
                            <a class="dropdown-item" href="{{ path('user_edit') }}">Настройки профиля</a>
                            <a class="dropdown-item" href="{{ url('fos_user_security_logout') }}">Выход</a>

                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url('fos_user_security_login') }}" class="nav-link">Авторизоваться</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('fos_user_registration_register') }}" class="nav-link">Создать аккаунт</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>{% block header_page %}{% endblock %}</h1>
        {% block container %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}