{% extends 'container.html.twig' %}
{% block title %}{{ username }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/libs/resize-photo/flexbox-gallery.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/libs/resize-photo/flexbox-gallery.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    {% block styles %}{% endblock %}
{% endblock %}
{% block container %}
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div id="block-avatar">
                    {% if user.avatar %}
                        <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="Аватар" class="img-thumbnail">
                    {% else %}
                        <img src="{{ asset('assets/images/default/avatar_default.png') }}" alt="Аватар" class="img-thumbnail">
                    {% endif %}
                </div>
                <div>
                    <a href="{{ path('user_history_game', {'username': app.user.username}) }}">История игр пользователя</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">Полное имя</th>
                        <td>{{ user.fullName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Последний визит</th>
                        <td>{{ user.lastActivity|date("m.d.Y h:s") }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table one">
                    <tr>
                        <td><b>Общее количество Побед</b></td>
                        <td><b>Общее количество Поражения</b></td>
                        <td><b>Общее количество Ничья</b></td>
                        <td><b>Всего сыграно партий</b></td>
                    </tr>
                    <tr>
                        <td>{{ victory }}</td>
                        <td>{{ loss }}</td>
                        <td>{{ deadHeat }}</td>
                        <td>{{ allGames }}</td>
                    </tr>
                </table>

                <table class="table two">
                    <tr>
                        <td colspan="2"><b>Победы</b></td>
                        <td colspan="2"><b>Поражения</b></td>
                        <td colspan="2"><b>Ничья</b></td>
                    </tr>
                    <tr>
                        <td>За Белую сторону</td>
                        <td>За Черную сторону</td>
                        <td>За Белую сторону</td>
                        <td>За Черную сторону</td>
                        <td>За Белую сторону</td>
                        <td>За Черную сторону</td>
                    </tr>
                    <tr>
                        <td>{{ whiteSideWherePlayerWin }}</td>
                        <td>{{ blackSideWherePlayerWin }}</td>
                        <td>{{ whiteSideWherePlayerLoss }}</td>
                        <td>{{ blackSideWherePlayerLoss }}</td>
                        <td>{{ whiteSideWherePlayerDeadHead }}</td>
                        <td>{{ blackSideWherePlayerDeadHead }}</td>
                    </tr>
                </table>
                <div class="chart">
                    <canvas style="display: none" id="myChart"></canvas>
                </div>
                <button class="btnChart btn btn-primary">Посмотреть статистику на графике</button>
                <table class="table three">
                    <tr>
                        <td colspan="3"><b>Количество выигранных очков</b></td>

                    </tr>
                    <tr>
                        <td><b>Общее количество коргоолов</b></td>
                        <td><b>Коргоолы за белую сторону</b></td>
                        <td><b>Коргоолы за черную сторону</b></td>
                    </tr>
                    <tr>
                        <td><b>{{ totalPoint }}</b></td>
                        <td><b>{{ totalPointWhite }}</b></td>
                        <td><b>{{ totalPointBlack }}</b></td>
                    </tr>
                </table>
            </div>
        </div>

{% endblock %}
{% block javascripts %}
    <script>
        $('.btnChart').click(function () {
            $('#myChart').toggle();
            let btn = $('.btnChart');
            if(btn.text() === 'Посмотреть статистику на графике' ) btn.text('Скрыть график');
            else btn.text('Посмотреть статистику на графике');
            $('html, body').animate({
                scrollTop: $("#myChart").offset().top
            }, 750);
            cont.scrollTop(cont.get(0).scrollHeight);
        })
    </script>
    <script>
        $('#block-avatar').flexgal();
    </script>
    <script type="application/javascript">
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',

            data: {
                labels: ["Победы", "Поражения", "Ничья",],
                datasets: [
                    {
                        label: "Белая сторона",
                        backgroundColor: 'rgb(165, 255, 153)',
                        borderColor: 'rgb(165, 255, 153)',
                        data: [
                            {{ whiteSideWherePlayerWin }},
                            {{ whiteSideWherePlayerLoss }},
                            {{ whiteSideWherePlayerDeadHead }},
                        ],
                    },
                    {
                        label: "Черная сторона",
                        backgroundColor: 'rgb(112, 112, 112)',
                        borderColor: 'rgb(112, 112, 112)',
                        data: [
                            {{ blackSideWherePlayerWin }},
                            {{ blackSideWherePlayerLoss }},
                            {{ blackSideWherePlayerDeadHead }},
                        ],
                    }
                ],

            },

            // Configuration options go here
            options: {
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>
{% endblock %}