{% extends 'container.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/content.css') }}">
    {{ parent() }}
{% endblock %}
{% block container %}
    <h1>
        История Игр
        {% if player is defined %}
            пользователя
            <a href="{{ path('user_profile', {'username': player.username}) }}">
                {{ player.fullName }}
            </a>
        {% endif %}
    </h1>

    <table class="table">
        <tr>
            <td><b>Дата игры</b></td>
            <td><b>За белую сторону</b></td>
            <td><b>За черную сторону</b></td>
            <td><b>Счет игры</b></td>
            <td><b>Победитель</b></td>
            <td><b>Просмотр</b></td>
        </tr>

        {% for gamelog in gamelogs %}
            <tr>
                <td>{{ gamelog.createdAt |date("m/d/Y") }}</td>
                <td>
                    <a href="{{ path('user_profile', {'username': gamelog.playerWhite.username}) }}"> {{ gamelog.playerWhite.fullName }}</a>
                </td>
                <td>
                    <a href="{{ path('user_profile', {'username': gamelog.playerBlack.username}) }}"> {{ gamelog.playerBlack.fullName }}</a>
                </td>
                <td>{{ gamelog.totalPointWhite }} - {{ gamelog.totalPointBlack }}</td>
                <td>{{ gamelog.winner.fullName ?? "ничья" }}</td>
                <td><a href="{{ path('app_show_history_game', {'id': gamelog.id}) }}">смотреть запись</a></td>
            </tr>
        {% endfor %}
    </table>

    <form name="offset" method="post" class="table pagination">
        <table>
            <tbody>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text required" for="offset">Страница:</label>
                        </div>
                        <select class="form-control" id="offset" name="offset">
                            {% for key, page in pages %}
                                {% if page.currentPage is defined %}
                                    <option selected>{{ page.page }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ page.page }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text required" for="qty">Количество:</label>
                        </div>
                        <select class="form-control" id="qty" name="qty">
                            {% for i in [10,25,50,100] %}
                                {% if qty == i %}
                                    <option selected>{{ qty }}</option>
                                {% elseif qty == null %}
                                    <option selected>{{ i }}</option>
                                {% else %}
                                    <option>{{ i }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" id="go">Перейти</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}